
@include mediaMd{
  .container-main{
    & .main-desktop{

      & .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .menu-hamburger{
          opacity:1;
        }
      }
      & .main-block{
        & h1{
          font-size: 10rem;
        }
        & h3{
          font-size: 1.8rem;
        }
        & ul.options{
          display: none;
        }
      }
    }
  }
  // strabberry.html
  .container-juice{
    
    & .main-juice{
    
      & .right-content{
        
        & .bottle-div{
          width:50%;
          height: 80%;
        }
        & .bottle-branch-div{
          height: 85%;
        }
        & .juice-img-div{
          left:50%;
        }

        & .overlay-yellow{
          width:60%;
        }
        & .overlay-green{
          width:70%;
        }
        & .branch-citron{
          left:25%;
          transform: rotate(15deg);
        }
      }
      & .left-content{
        & a{
          font-size:1.5rem;
        }
      }
    }
  }
}

@include mediaSm{
  .container-main{
    & .main-desktop{

      & .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .menu-hamburger{
          opacity:1;
        }
      }
      & .main-block{
        & h1{
          font-size: 5rem;
        }
        & h3{
          font-size: 1.2rem;
        }
        & ul.options{
          display: none;
        }
      }
    }
  }

  .div-branch{
    height: 80%;
    width:60%;
    top:15%;
    left:35%;
  }

  //starwbery.html----------------------------------------
  .container-juice{
    
    
    & .main-juice{
      width:100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
  
      & .left-content{
        width:100%;
        height: 50%;
       & a{
          font-size:2rem;
          & .fas{
            margin-right: 1.5rem;
          }
        }
  
        & .title-juice{
          color:$strawbery_color;
          margin:10rem 0 3rem 0;
          font-size:2rem;
          text-align: center;
        }
        & .title-citron{
          color:$yellow_color;
        }
        & .title-apple{
          color:$green-apple_color;
        }
        & .title-plum{
          color:$violet_color;
        }
        & .description{
          font-size:1rem;
          margin-bottom:3rem;
          text-align: center;
        }
      }
      & .right-content{
        width:100%;
        height: 50%;
       & .bottle-div{
          bottom:0;
          right:30%;
          width:40%;
        }
  
        & .bottle-branch-div{
          bottom:5%;
          left:15%;
         }
         & .bottle-apple{
           width:35%;
         }
  
        & .juice-img-div{
          left:50%;
         }
        & .overlay-red{
          position: absolute;
          right: 0;
          bottom:0;
          width:100%;
          height: 100%;
          z-index:1;
          background:linear-gradient(to top,rgba(225, 126, 126,0.2) 0%, rgba(225, 126, 126,0.5) 100%);
        }
        & .overlay-yellow{
          background:linear-gradient(to top,rgba(220, 177, 24,0.2) 0%, rgba(220, 177, 24,0.5) 100%);
        }
        & .overlay-green{
          background:linear-gradient(to top,rgba(33, 141, 29,0.2) 0%, rgba(33, 141, 29,0.5) 100%);
        }
        & .overlay-violet{
          background:linear-gradient(to top,rgba(123, 51, 178,0.2) 0%, rgba(123, 51, 178,0.5) 100%);
        }
      }
    }
  }
}

@include mediaXL{
  .container-juice{
    
    & .main-juice{
    
      & .left-content{
       & a{
          font-size:1.5rem;
        }
  
        & .title-juice{
          font-size: 2.5rem;
        }
        & .description{
          font-size:1.3rem;
        }
      }
      & .right-content{
        
        & .bottle-div{
          width:30%;
          height: 80%;
        }
        & .bottle-apple{
          width:25%;
        }

        & .branch-citron{
          left:40%;
          top:10%;
        }
        & .juice-citron{
          left:70%;
        }
        & .juice-plum{
          left:65%;
        }
        & .overlay-green{
          width:50%;
        }
      }
    }
  }
}