
@include mediaMd{
  .container-main{
    & .main-desktop{

      & .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .menu-hamburger{
          opacity:1;
        }
      }
      & .main-block{
        & h1{
          font-size: 10rem;
        }
        & h3{
          font-size: 1.8rem;
        }
        & ul.options{
          display: none;
        }
      }
    }
  }
}

@include mediaSm{
  .container-main{
    & .main-desktop{

      & .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .menu-hamburger{
          opacity:1;
        }
      }
      & .main-block{
        & h1{
          font-size: 5rem;
        }
        & h3{
          font-size: 1.2rem;
        }
        & ul.options{
          display: none;
        }
      }
    }
  }

  .div-branch{
    height: 80%;
    width:60%;
    top:15%;
    left:35%;
  }
}

@include mediaXL{
  .container-juice{
    
    & .logo{
  
    }
    & .main-juice{
      
  
      & .left-content{
       & a{
          font-size:1.5rem;
        }
  
        & .title-juice{
          font-size: 2.5rem;
        }
        & .description{
          font-size:1.3rem;
          
        }
      }
      & .right-content{
        
        & .bottle-div{
          width:30%;
          height: 80%;
        }
    }
    }
  }
}