.container-juice{
  width:80vw;
  height: 80vh;
  margin:3rem auto;
  & .logo{

  }
  & .main-juice{
    width:100%;
    height: 100%;
    display: flex;

    & .left-content{
      width:40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & a{
        text-decoration: none;
        color:$black_color;
        text-transform: lowercase;
        font-weight: 900;
        text-align: center;
        & .fas{
          margin-right: 0.5rem;
        }
      }

      & .title-juice{
        color:$strawbery_color;
        margin:10rem 0 3rem 0;
        font-size:2rem;
        text-align: center;
      }

      & .title-citron{
        color:$yellow_color;
      }

      & .title-apple{
        color:$green-apple_color;
      }
      & .title-plum{
        color:$violet_color;
      }
      & .description{
        font-size:1rem;
        margin-bottom:2rem;
        text-align: center;
      }
    }
    & .right-content{
      width:60%;
      position: relative;

      & .bottle-div{
        width:40%;
        height: 80%;
        position: absolute;
        bottom:0;
        right:5%;
        z-index:5;

        & img{
          width:100%;
          height: 100%;
        }
      }
      & .bottle-citron{
        width:40%;
        height: 80%;
        right: 10%;
        position: absolute;
        bottom:0;
        z-index:5;
      }
      &.bottle-apple{
        top:0;
      }

      & .bottle-branch-div{
        width:50%;
        height: 80%;
        position: absolute;
        bottom:5%;
        left:35%;
        transform: rotate(25deg);
        z-index:5;

        & img{
          width:100%;
          height: 100%;
        }
      }
      & .branch-apple{
        top:0;
      }
      & .bottle-apple{
        width:35%;
      }
      & .branch-citron{
        top:10%;
      }
     

      & .juice-img-div{
        width:25%;
        height: 25%;
        position: absolute;
        bottom:0;
        left:60%;
        z-index:5;

        & img{
          width:100%;
          height: 100%;
        }
      }
      & .juice-plum{
        position: absolute;
        bottom:-13px;
        left:58%;
      }
      & .overlay-red{
        position: absolute;
        right: 0;
        bottom:0;
        width:60%;
        height: 100%;
        z-index:1;
        background:linear-gradient(to top,rgba(225, 126, 126,0.2) 0%, rgba(225, 126, 126,0.5) 100%);
      }

      & .overlay-yellow{
        position: absolute;
        right: 0;
        bottom:0;
        width:60%;
        height: 100%;
        z-index:1;
        background:linear-gradient(to top,rgba(220, 177, 24,0.2) 0%, rgba(220, 177, 24,0.5) 100%);
      }

      & .overlay-green{
        width:60%;
        background:linear-gradient(to top,rgba(33, 141, 29,0.2) 0%, rgba(33, 141, 29,0.5) 100%);
      }
      & .overlay-violet{
        background:linear-gradient(to top,rgba(123, 51, 178,0.2) 0%, rgba(123, 51, 178,0.5) 100%);
      }
    }
  }
}