@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');

$green_color:rgb(113, 182, 111);
$green-apple_color:rgb(33, 141, 29);
$strawbery_color:rgb(225, 126, 126);
$yellow_color:rgb(220, 177, 24);
$violet_color:rgb(123, 51, 178);
$white_color:#fff;
$black_color:#000;

