@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
.container-main .main-desktop .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .container-main .main-desktop .nav-wrapper .menu-mobile {
    height: 77vh;
    width: 100%;
    background: linear-gradient(to top, rgba(113, 182, 111, 0.9) 0%, #71b66f 100%);
    position: absolute;
    top: 17%;
    right: -100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 9090909090;
    font-size: 1.2rem;
    letter-spacing: 2px;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .container-main .main-desktop .nav-wrapper .menu-mobile.show {
      right: 0; }
    .container-main .main-desktop .nav-wrapper .menu-mobile .menu-item {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase; }
      .container-main .main-desktop .nav-wrapper .menu-mobile .menu-item.showItem {
        animation: showItems 1s 0.5s linear both; }
  .container-main .main-desktop .nav-wrapper .menu-hamburger {
    opacity: 0;
    width: 50px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999999; }
    .container-main .main-desktop .nav-wrapper .menu-hamburger div:nth-child(1) {
      width: 100%;
      height: 5px;
      background: #000;
      height: 20%;
      border-radius: 20px;
      transition: all 0.4s linear; }
      .container-main .main-desktop .nav-wrapper .menu-hamburger div:nth-child(1).active {
        width: 100%;
        transform: rotateZ(405deg) translate(5px, 6px); }
    .container-main .main-desktop .nav-wrapper .menu-hamburger div:nth-child(2) {
      width: 70%;
      height: 5px;
      background: #000;
      height: 20%;
      border-radius: 20px;
      transition: all 0.3s linear; }
      .container-main .main-desktop .nav-wrapper .menu-hamburger div:nth-child(2).active {
        opacity: 0; }
    .container-main .main-desktop .nav-wrapper .menu-hamburger div:nth-child(3) {
      width: 40%;
      height: 5px;
      background: #000;
      height: 20%;
      border-radius: 20px;
      transition: all 0.4s linear; }
      .container-main .main-desktop .nav-wrapper .menu-hamburger div:nth-child(3).active {
        width: 100%;
        transform: rotateZ(-405deg) translate(10px, -12px); }

@keyframes showItems {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.container-juice {
  width: 80vw;
  height: 80vh;
  background: #ddd;
  margin: 3rem auto; }
  .container-juice .main-juice {
    width: 100%;
    height: 100%;
    background: #eee; }
    .container-juice .main-juice .left-content {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .container-juice .main-juice .left-content .title-juice {
        color: #E17E7E;
        margin-bottom: 3rem; }
      .container-juice .main-juice .left-content .description {
        font-size: 1rem;
        margin-bottom: 3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif; }

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden; }

.container-main {
  width: 95%;
  height: 95%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .container-main .main-desktop {
    width: 80%;
    height: 80%; }
    .container-main .main-desktop h3.logo {
      font-size: 2rem;
      font-weight: 900; }
    .container-main .main-desktop .main-block {
      background: #71b66f;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .container-main .main-desktop .main-block h1 {
        color: #fff;
        font-weight: 500;
        font-size: 13rem; }
      .container-main .main-desktop .main-block h3 {
        color: #fff;
        font-weight: 500;
        font-size: 2.5rem;
        text-transform: lowercase; }
      .container-main .main-desktop .main-block ul.options {
        margin-top: 1rem;
        width: 50%;
        display: flex;
        justify-content: space-around;
        z-index: 9999; }
        .container-main .main-desktop .main-block ul.options > li {
          list-style: none;
          border: 2px solid #fff;
          padding: 10px 5px;
          cursor: pointer;
          width: 20%;
          text-align: center; }
          .container-main .main-desktop .main-block ul.options > li a {
            text-decoration: none;
            color: #fff;
            font-size: 0.9rem; }

.div-branch {
  width: 40vw;
  height: 90vh;
  position: absolute;
  top: 7%;
  left: 45%;
  transform: rotate(180deg); }
  .div-branch img {
    width: 100%;
    height: 100%; }

@media screen and (max-width: 768px) {
  .container-main .main-desktop .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container-main .main-desktop .nav-wrapper .menu-hamburger {
      opacity: 1; }
  .container-main .main-desktop .main-block h1 {
    font-size: 10rem; }
  .container-main .main-desktop .main-block h3 {
    font-size: 1.8rem; }
  .container-main .main-desktop .main-block ul.options {
    display: none; } }

@media screen and (max-width: 767px) {
  .container-main .main-desktop .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .container-main .main-desktop .nav-wrapper .menu-hamburger {
      opacity: 1; }
  .container-main .main-desktop .main-block h1 {
    font-size: 5rem; }
  .container-main .main-desktop .main-block h3 {
    font-size: 1.2rem; }
  .container-main .main-desktop .main-block ul.options {
    display: none; }
  .div-branch {
    height: 80%;
    width: 60%;
    top: 15%;
    left: 35%; } }
